/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body {
    font-family: "Chakra Petch", sans-serif; /* Define a fonte padrão */
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    background-image:  url('https://wallpapers.com/images/hd/2560-x-1440-batman-ep7on10owhq2t1h5.jpg');
    background-size: cover;
    background-repeat: inherit;
    background-position: center;
    height: 91vh;
    
    
}
main{
  position: relative;
  width: 50%;
  height: auto;
  top: 40%;

  
}
p{ 
  color: aliceblue;
  margin: 0px;
  text-align: center;
}


.footer {
  background-color: #1b526e53;
  color: #45474B;
  text-align: center;
  padding: 10px 0; /* Adicione padding para criar espaço interno */
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  min-height: 50px; /* Ajuste a altura mínima conforme necessário */
  border-top: 1px solid #dddddd91; /* Borda fina e adaptável */
  box-sizing: border-box; 
  
}
.centroPagina{
  
  position: relative;
  width: 40%;
  height: 50%;
  top: 50%;
  left: 20%;
  transform: translateX(-50%) translateY(-50%);
}

.pesquisar{
  position: relative;
  top: 10%;
  left: 50%;
  width: 100%; /* Ocupa 100% da largura do container pai */
  height: 15%;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  padding:2ch;
  transform: translateX(-50%) translateY(-50%);
  margin-bottom: 0px;
  text-align: center;
  border-radius: 5rem; /* Borda arredondada */
  font-size:  99%; /* Tamanho da fonte */
  color: #000000;
  
}
.botaoGo{
  position: relative;
  top: 10%;
  width:12%; /* Ocupa 100% da largura do container pai */
  left: 50%;
  box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  padding: 10px;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  border: none; /* Remove a borda padrão */
  border-radius: 1.5rem; /* Borda arredondada */
  background-color: #30475E; /* Cor de fundo do botão */
  color: #80b7d2; /* Cor do texto do botão */
  font-size: 1rem; /* Tamanho da fonte */
  cursor: pointer; 
  
  
  
}
#botaoGo:hover {
  /* Estilo quando o mouse passa por cima */
  animation: infinite 5s; 
  box-shadow: 5px 5px 20px rgba(136, 135, 163, 0.452);
}

.logoBat{
  position: relative;
  width: 10%;
  top: -5%;
  left: 44%;   
  
  transform: translateX(-50%) translateY(-50%) ;
  filter: invert(80%);
  opacity: 0.5;
  animation: pulse 10s infinite;
  
  
}
@keyframes pulse {
  0%{transform: scale(2);}
  40%{transform: scale(3);}
  65%{transform: scale(4);}
  100%{transform: scale(2);}
}
.logosBat{
  position: relative;
  top: 23%;
  height: 40%;
  width: 117%;
  display: flex;
  transform: translateX(-50%);
  left: 50%;
  gap: 25%;
}
 

.BatL{
  position: relative;
  height: 50%;
  background-color: aliceblue;
  border-radius: 50%;
  cursor: pointer;
  
}
.LogoEdata {
  /* Estilos para quando o mouse passar por cima */
  transition: transform 1.3s;
  transform-origin: center center;
  &:hover{
         
    transform: scale(1.3); /* Aumenta em 10% */
  }
  .BatL{
    background-color: #338cb8d7;
  }
}

.nBat {
  position: relative;
  top: 10%;
  left: 50%;
  font-size: 500%;
  color: #ffffff5f; /* Cor do texto */
  text-align: center; /* Alinha o texto ao centro */
  letter-spacing: 1.5rem; /* Espaçamento entre letras */
  transform: translateX(-50%) translateY(-50%)  ;
  
}


.item-resultado{
  position: relative;
  background-color: #4e89a7;
  border-radius: 33px;
  width: 95%;
  margin-bottom: 20px;
  border: 50px;
  transform: translateX(0%);
  transition:  transform 0.3s ;
  animation: aparecer 1s ease-in-out;
  
  
}
.item-resultado:hover {
  /* Estilos para quando o mouse passar por cima */
  
  transform: scale(1.07); /* Aumenta em 10% */
  transform-origin: center center;
  background-color: #3e95c1ee;
}
@keyframes aparecer {
  from {
    opacity: 0.7;
    transform: translateY(90%);
  }
  to {
    opacity: 10;
    transform: translateY(0);
  }
}
.resultados-pesquisa{
  position: relative;
  width: auto;
  margin-top: 13%;
  padding-bottom: 10%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  
}

.imgbat{
  
  position: relative;
  width: 23%;
  margin: 7%;  
  border-radius: 10%;
  
}

.texto{
  position: absolute;
  width: 60%;
  height: 70%;
  left: 60%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) ;
  text-align: center;
  
}
.h1I{
  position: relative;
  top: 15%;
  margin: 0px;
  font-size: 100%;
  color: #11141d;
 }
 .nomeF{
  margin: 0px;
  font-size: 250%;
  color: #1d2746b8;
  text-decoration: double;
 }
.botaoVoltar{
  position: fixed;
  width: 4%;
  left: 92%;
  top: 80%;
  cursor: pointer;
  display: none;
  
  transition: transform 1.2s;
  transform-origin: center center;
  &:hover{
         
    transform: scale(1.2); /* Aumenta em 10% */
  }
}

@keyframes fadeIn {
  50% {
    opacity: 1; /* Inicialmente, o botão é invisível */
  }
  100% {
    opacity: 1; /* No final, o botão é visível */
  }
  from {
    
    transform: translateX(50%);
  }
  to {
    
    transform: translateX(0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1; /* Inicialmente, o botão é visível */
  }
  100% {
    opacity: 0;
    
  }
  from {
    
    transform: translateX(0%);
  }
  to {
    
    transform: translateX(50%);
  }
   /* No final, o botão é invisível */

}